.banner{
    color: white;
    background-color: rgb(91,73,60);
    text-align: center;
    height: 100px;
    padding-top: 20px;
}
.leftMenu{
    background-color: rgb(249,154,62);
    text-align: center;
}
.topMenu{
    background-color: rgb(195,145,130);
    text-align: center;
}
.mainContent{
    text-align: center;
}
.foto1{
    text-align: center;
    background-color: rgb(197,105,122);
}
.foto2{
    text-align: center;
    background-color: rgb(0,162,182);
}
.footer{
    color: white;
    background-color: rgb(91,73,60);
    text-align: center;
}